<ion-app>
    <ion-menu side="start" menuId="first" contentId="cuerpoPrincipal">
        <ion-content>
          <ion-list no-padding>
            <ion-list-header color="tertiary">
              <ion-label>
                <strong>
                  RECETAS CHILENAS
                </strong>
              </ion-label>
              </ion-list-header>

              <ion-menu-toggle>
            <ion-item routerLink="/tortilla-de-porotos-verdes" detail="true">
            <ion-icon name="ribbon" class="ion-padding-end"></ion-icon>
          <ion-label>
            Tortilla de Porotos Verdes
          </ion-label>
          </ion-item>
        </ion-menu-toggle>
          
          <ion-menu-toggle>
          <ion-item routerLink="/porotos-granados" detail="true">
            <ion-icon name="logo-freebsd-devil" class="ion-padding-end"></ion-icon>
          <ion-label>
            Porotos granados
          </ion-label>
          </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
          <ion-item routerLink="/tomatican" detail="true">
            <ion-icon name="logo-apple" class="ion-padding-end"></ion-icon>
          <ion-label>
            Tomatican
          </ion-label>
          </ion-item>
        </ion-menu-toggle>
          </ion-list>
        
            <ion-list no-padding>
              <ion-list-header color="warning">
                <ion-label>
                  <strong>
                    RECETAS PERUANAS
                  </strong>
                </ion-label>
                </ion-list-header>
  
                
              <ion-item routerLink="/ceviche" detail="true">
              <ion-icon name="happy" class="ion-padding-end"></ion-icon>
            <ion-label>
              Ceviche
            </ion-label>
        </ion-item>
            
            
            <ion-item routerLink="/lomo-saltado" detail="true">
              <ion-icon name="logo-freebsd-devil" class="ion-padding-end"></ion-icon>
            <ion-label>
              Lomo Saltado
            </ion-label>
            </ion-item>
            
            
                <ion-list-header color="secondary">
                  <ion-label>
                    <strong>
                      Volver a casa
                    </strong>
                  </ion-label>
                  </ion-list-header>
                          
            </ion-list>
          </ion-content>
      </ion-menu>
  <ion-router-outlet id="cuerpoPrincipal"></ion-router-outlet>
</ion-app>
