<ion-header>
    <ion-toolbar color="medium">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Lomo Saltado</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-sm="4">
          <ion-card>
            <ion-card-header>
              <ion-img src="assets/images/lomo.jpg"></ion-img>
             
              <ion-card-title>Lomo Saltado</ion-card-title>
              <ion-card-content>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</ion-card-content>
            </ion-card-header>
   
          </ion-card>
        </ion-col>
